@import "variables"

.btn-light
	background: none
	color: $mainColor
	font-family: 'Futura-PT-Book',sans-serif

.btn-lg
	padding: 16px 30px
	border-radius: 15px
	font-size: 20px
	line-height: 20px

.btn-outline-info
	color: $gradientColor
	font-family: 'Futura-PT-Medium',sans-serif
