@import "variables"

.btn-light
	background: none
	color: $mainColor
	font-family: 'Futura-PT-Book',sans-serif

.btn-lg
	padding: 16px 30px
	border-radius: 15px
	font-size: 20px
	line-height: 20px

.btn-outline-info
	color: $gradientColor
	font-family: 'Futura-PT-Medium',sans-serif
	border-color: $gradientColorOne

.btn-gradient-primary
	border: 1px solid transparent
	background: linear-gradient(90deg, #28BFD1 0%, #85CFD1 100%)
	color: $mainColor

