@import "variables"

.swiper-intro
	width: 100%
	height: 100%

	.swiper-pagination
		position: relative
		text-align: left
		top: 120px

	.swiper-pagination-bullet
		border-radius: 2px
		width: 15px
		height: 6px
		margin: 0
		background: $opasityColor
		opacity: 1

	.swiper-pagination-bullet-active
		background: $mainColor
		margin: 0

	.swiper-group
		text-align: left
		padding-top: 150px

		.swiper-title
			font-size: 90px
			line-height: 115px
			color: $mainColor
			margin-bottom: 10px
			font-family: 'Futura-PT-Book',sans-serif

		.swiper-text
			font-size: 26px
			line-height: 36px
			color: $mainColor
			margin-bottom: 50px
			font-family: 'Futura-PT-Book',sans-serif

	.swiper-slide
		min-height: 700px
		background-image: url("../img/bg-grad-full-1.jpg")
		background-repeat: no-repeat
		background-position: top
		background-size: cover

		img
			display: block
			width: 100%
			height: 100%
			object-fit: cover
			min-width: 335px

		.wrapper-tip-tool
			position: relative

			.swiper-tool-tip
				position: absolute
				top: 232px
				left: 34%

			.swiper-tool-tip-position-2
				position: absolute
				top: 300px
				left: 70%

			.swiper-tool-tip-position-3
				position: absolute
				top: 576px
				left: 30%

			.swiper-tool-tip-position-4
				position: absolute
				top: 530px
				left: 80%

			.icon
				font-size: 6px
				width: 24px
				background: $mainColor
				height: 24px
				border-radius: 100%
				padding: 9px
				outline: 8px $mainlightColor solid
				opacity: 0.8
				-webkit-transition: 0.5s ease

			.icon-plus

				&:hover
					opacity: 0
					transition: 0.5s

.tooltip-inner
	max-width: 260px
	padding: 25px
	font-size: 18px
	line-height: 23px
	font-family: 'Futura-PT-Book',sans-serif
	color: $mainText
	text-align: left
	background-color: $mainColor
	opacity: 1
	border-radius: 20px
	box-shadow: 0 7px 25px rgba($darkenColor, .15)

.tooltip .tooltip-arrow:before
	display: none

.swiper-card

	.swiper-slide
		overflow: hidden
		height: 611px
		cursor: pointer

		.item-footer
			padding-top: 25px
			position: relative
			background-color: $mainColor
			min-height: 183px
			text-align: left
			-webkit-transition: all .12s linear
			-moz-transition: all .12s linear
			-o-transition: all .12s linear
			transition: all .12s linear

			.btn
				position: absolute
				bottom: 0
				left: 0

		&:hover

			.item-footer
				transform: translateY(-79px)

	.button-control
		display: flex

		.swiper-button
			top: 0
			left: 0
			right: 0
			position: relative
			border: 1px solid $gradientColorOne
			border-radius: 15px
			height: 54px
			width: 54px
			color: $gradientColorOne
			padding: 0
			-webkit-transition: all .12s linear
			-moz-transition: all .12s linear
			-o-transition: all .12s linear
			transition: all .12s linear

			&:hover
				background: linear-gradient(90deg, #28BFD1 0%, #85CFD1 100%)
				color: $mainColor

			&:after
				font-size: 12px

			& + .swiper-button
				margin-left: 15px

//swiper-trust


.swiper
	width: 100%
	margin-left: auto
	margin-right: auto


	.swiper-slide

		img
			display: block
			object-fit: cover
			border-radius: 80px

	&.trust-slider

		.swiper-slide
			display: flex
			align-items: flex-end
			justify-content: center
			border-radius: 16px

			.trust-card
				background: $mainColor
				padding: 145px 110px
				text-align: left
				border-radius: 80px

				.title-card
					font-size: 25px
					line-height: 35px
					font-family: "Futura-PT-Medium", sans-serif
					margin-bottom: 5px
					color: $mainText

				.card-link
					font-size: 19px
					line-height: 26px
					font-family: "Futura-PT-Book", sans-serif
					margin-bottom: 15px
					color: $gradientColorOne
					display: block

				.card-element
					font-size: 16px
					line-height: 22px
					font-family: "Futura-PT-Medium", sans-serif
					margin-bottom: 15px
					color: $pasiiveColor
					display: block

				.trust-card-text
					font-size: 18px
					line-height: 25px
					font-family: "Futura-PT-Medium", sans-serif
					margin-bottom: 15px
					color: $mainText

				.card-link-footer
					font-size: 18px
					line-height: 25px
					font-family: "Futura-PT-Book", sans-serif
					color: $gradientColorOne
					border-bottom: 1px solid $gradientColorOne
					margin-right: 20px

	&.in-trust-slider


		.swiper-wrapper
			display: flex
			flex-direction: column
			max-height: 510px
			max-width: 200px

		.swiper-slide
			overflow: hidden

			img
				min-width: 150px
				border-radius: 40px

		.swiper-slide-thumb-active
			opacity: 1

		.swiper-scrollbar
			width: 10px
			background: $ultraLightColor
			opacity: 1!important
			right: 32px

		.swiper-scrollbar-drag
			background: $minimalColor
			width: 4px
			margin: auto
			opacity: 1!important

//swiper-full-card

.section-final-card
	padding-top: 60px

	.swiper-full-card

		&:hover

			.swiper-button-next
				opacity: 1

			.swiper-button-prev
					opacity: 1

		.swiper-pagination
			position: absolute
			bottom: 5px
			left: -345px

		.swiper-pagination-bullet
			border-radius: 0
			width: 15px
			height: 6px
			background: $lightColor
			opacity: 1

		.swiper-pagination-bullet-active
			background: $mainText

	.swiper-wrapper

		.swiper-slide
			position: relative

		.checkbox-follow
			position: absolute
			top: 20px
			right: 20px

		.item-element
			position: absolute
			background: $dangerColor
			color: $mainColor
			font-size: 18px
			line-height: 18px
			padding: 7px
			left: 15px
			top: 15px
			border-radius: 10px

	.swiper-button-next
		width: 45px
		height: 80px
		background: $lightBtnColor
		border-radius: 15px 0 0 15px
		opacity: 0
		-webkit-transition: all 0.3s linear
		-moz-transition: all 0.3s linear
		-o-transition: all 0.3s linear
		transition: all 0.3s linear

		&:hover
			background: $lightColor

	.swiper-button-prev
		width: 45px
		height: 80px
		background: $lightBtnColor
		border-radius: 0 15px 15px 0
		opacity: 0
		-webkit-transition: all 0.3s linear
		-moz-transition: all 0.3s linear
		-o-transition: all 0.3s linear
		transition: all 0.3s linear

		&:hover
			background: $lightColor

	.swiper-button-next:after
		font-size: 17px

	.swiper-button-prev:after
		font-size: 17px

.product-info
	overflow-x: hidden

	.product-info-title
		font-family: "Futura-PT-Demi", sans-serif
		font-size: 25px
		line-height: 35px
		margin-bottom: 10px

	.share-box
		position: relative
		display: flex
		align-items: center


		.icon
			font-size: 18px
			text-align: center
			line-height: 20px
			padding: 10px
			width: 40px
			display: block
			color: $mainText
			background: $mainBackground
			border-radius: 100%

			&:hover
				background: $lightBtnColor
				border-radius: 100%

		.btn
			padding: 0
			z-index: 102

		.share-panel
			left: -180px
			position: absolute
			display: flex
			align-items: center
			transform: translateX(100%)
			transition: 0.3s
			padding-left: 20px
			visibility: hidden
			-webkit-transition: all 0.3s linear
			-moz-transition: all 0.3s linear
			-o-transition: all 0.3s linear

			a
				display: block
				text-decoration: none
				border-radius: 100%
				background: $lightBtnColor
				margin-right: 5px
				width: 40px
				height: 40px


			.icon
				font-size: 16px
				text-align: center
				line-height: 20px
				padding: 10px
				width: 40px
				display: block
				color: $mainText

	.active

		.share-panel
			opacity: 1
			visibility: visible
			transform: translateX(0)
			padding: 0

	.product-info-group
		display: flex

		.product-info-text
			font-family: "Futura-PT-Book", sans-serif
			font-size: 20px
			line-height: 28px
			color: $mainText

		.product-info-status
			color: $greenColor


