@import "variables"

.swiper-intro
	width: 100%
	height: 100%

	.swiper-pagination
		position: relative
		text-align: left
		top: 120px

	.swiper-pagination-bullet
		border-radius: 2px
		width: 15px
		height: 6px
		margin: 0
		background: $opasityColor

	.swiper-pagination-bullet-active
		background: $mainColor
		margin: 0

	.swiper-group
		text-align: left
		padding-top: 150px

		.swiper-title
			font-size: 90px
			line-height: 115px
			color: $mainColor
			margin-bottom: 10px
			font-family: 'Futura-PT-Book',sans-serif

		.swiper-text
			font-size: 26px
			line-height: 36px
			color: $mainColor
			margin-bottom: 50px
			font-family: 'Futura-PT-Book',sans-serif

	.swiper-slide
		position: relative
		min-height: 700px
		background-image: url("../img/bg-grad-full.jpg")
		background-repeat: no-repeat
		background-position: top
		background-size: cover

		img
			display: block
			width: 100%
			height: 100%
			object-fit: cover
			min-width: 335px

		.swiper-tool-tip
			position: absolute
			top: 34%
			left: 51%

		.swiper-tool-tip-position-2
			position: absolute
			top: 80%
			left: 49%

		.swiper-tool-tip-position-3
			position: absolute
			top: 42%
			left: 76%

		.swiper-tool-tip-position-4
			position: absolute
			top: 76%
			left: 83%

		.icon
			font-size: 6px
			width: 24px
			background: $mainColor
			height: 24px
			border-radius: 100%
			padding: 9px
			outline: 8px $mainlightColor solid
			opacity: 0.8
			-webkit-transition: 0.5s ease

		.icon-plus

			&:hover
				opacity: 0
				transition: 0.5s

.tooltip-inner
	max-width: 260px
	padding: 25px
	font-size: 18px
	line-height: 23px
	font-family: 'Futura-PT-Book',sans-serif
	color: $mainText
	text-align: left
	background-color: $mainColor
	opacity: 1
	border-radius: 20px
	box-shadow: 0 7px 25px rgba($darkenColor, .15)

.tooltip .tooltip-arrow:before
	display: none

.swiper-card

	.swiper-slide
		overflow: hidden
		height: 611px
		cursor: pointer

		.item-footer
			padding-top: 25px
			position: relative
			background-color: $mainColor
			min-height: 183px
			-webkit-transition: all .12s linear
			-moz-transition: all .12s linear
			-o-transition: all .12s linear
			transition: all .12s linear

			.btn
				position: absolute
				bottom: 0
				left: 0

		&:hover

			.item-footer
				transform: translateY(-79px)

	.button-control
		display: flex

		.swiper-button
			top: 0
			left: 0
			right: 0
			position: relative
			border: 1px solid $gradientColorOne
			border-radius: 15px
			height: 54px
			width: 54px
			color: $gradientColorOne
			padding: 0

			&:after
				font-size: 12px

			& + .swiper-button
				margin-left: 15px

//swiper-rust
.swiper
	width: 100%
	margin-left: auto
	margin-right: auto

	.swiper-slide

		img
			display: block
			object-fit: cover
			border-radius: 80px

	&.trust-slider

		.swiper-slide
			display: flex
			align-items: flex-end
			justify-content: center
			border-radius: 16px
			min-height: 510px

			.trust-card
				background: $mainColor
				padding: 127px 110px
				text-align: left
				border-radius: 80px

				.title-card
					font-size: 25px
					line-height: 35px
					font-family: "Futura-PT-Medium", sans-serif
					margin-bottom: 5px
					color: $mainText

				.card-link
					font-size: 19px
					line-height: 26px
					font-family: "Futura-PT-Book", sans-serif
					margin-bottom: 15px
					color: $gradientColorOne
					display: block

				.card-element
					font-size: 16px
					line-height: 22px
					font-family: "Futura-PT-Medium", sans-serif
					margin-bottom: 15px
					color: $pasiiveColor
					display: block

				.trust-card-text
					font-size: 18px
					line-height: 25px
					font-family: "Futura-PT-Medium", sans-serif
					margin-bottom: 15px
					color: $mainText

				.card-link-footer
					font-size: 18px
					line-height: 25px
					font-family: "Futura-PT-Book", sans-serif
					color: $gradientColorOne
					border-bottom: 1px solid $gradientColorOne
					margin-right: 20px

	&.in-trust-slider

		.swiper-wrapper
			display: flex
			flex-direction: column
			max-height: 510px
			max-width: 200px

		.swiper-slide
			overflow: hidden

			img
				min-width: 150px
				border-radius: 40px

		.swiper-slide-thumb-active
			opacity: 1

		.swiper-scrollbar
			width: 10px
			background: $ultraLightColor
			opacity: 1!important

		.swiper-scrollbar-drag
			background: $minimalColor
			width: 4px
			margin: auto
			opacity: 1!important

