@import "variables"

.footer
	padding-top: 80px
	padding-bottom: 80px

	.footer-list-title
		font-family: "Futura-PT-Book", sans-serif
		font-size: 24px
		line-height: 33px
		color: $mainText
		margin-bottom: 20px
		display: block

	.footer-list
		margin: 0
		padding: 0
		list-style: none
		position: relative

		.footer-link
			font-size: 16px
			font-family: "Futura-PT-Book", sans-serif
			line-height: 22px
			color: $secondColor
			margin: 0 0 12px 0
			display: block

			.icon
				font-size: 18px
				color: $gradientColorOne
				margin-left: 8px

		.footer-mail
			font-size: 18px
			font-family: "Futura-PT-Medium", sans-serif
			line-height: 25px
			color: $secondColor
			margin-bottom: 15px
			display: block

		.footer-phone
			font-size: 18px
			font-family: "Futura-PT-Medium", sans-serif
			line-height: 25px
			color: $gradientColorOne
			margin-bottom: 20px
			display: block

		.btn-top
			position: absolute
			right: 100px
			bottom: -100px
			padding: 10px 20px
			font-size: 15px

			&:focus
				box-shadow: none
			&:hover
				color: $dangerColor

		.icon-next
			display:  block
			color: $gradientColorOne
			margin-bottom: 15px
			animation: spin 3s infinite linear
			font-size: 25px
			padding-bottom: 5px

		.footer-group
			margin-bottom: 30px

			.footer-social
				width: 40px
				height: 40px
				border-radius: 100%
				background: $whiteLightColor
				margin-right: 10px

@keyframes spin
	0%
		transform: translate3d(0, -40%, 0)

	50%
		transform: translate3d(0, 90%, 0)

	100%
		transform: translate3d(0, -40%, 0)






