@import "variables"

.header
	position: relative
	padding: 30px 0 8px

	.logo
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%,-50%)

		img
			max-height: 50px

	.header-link-phone
		font-size: 18px
		font-family: 'Futura-PT-Medium',sans-serif
		line-height: 25px
		color: $darkColor

	.header-phone-text
		font-size: 18px
		line-height: 25px
		font-family: 'Futura-PT-Book',sans-serif
		color: $darkColor

	.icon-group

		.icon
			font-size: 28px
			color: $mainText
			margin-left: 30px
			position: relative

		.icon-heat
			width: 34px
			height: 28px
			display: block

			&:after
				width: 6px
				height: 6px
				background: red
				border-radius: 100%
				content: ""
				position: absolute
				top: -3px
				right: -3px


		.icon-heat:hover:before
			content: "\e912"
			font-size: 28px
			width: 34px
			height: 28px
			display: block

		.icon-bag

			&:after
				width: 6px
				height: 6px
				background: red
				border-radius: 100%
				content: ""
				position: absolute
				top: -3px
				right: -3px

.navbar
	background: $mainColor
	padding-top: 0
	padding-bottom: 0
	border-bottom: 1px solid rgba($darkenColor, .1)

	.nav-link
		font-size: 18px
		color: $darkColor
		font-family: 'Futura-PT-Book',sans-serif
		padding: 5px 15px
		position: relative
		-webkit-transition: all .3s linear
		-moz-transition: all .3s linear
		-o-transition: all .3s linear
		transition: all .3s linear

		&:hover
			color: $gradientColorOne

	.nav-item-menu
		z-index: 102

		.menu
			position: absolute
			z-index: 102
			width: 100%
			background: $mainColor
			top: 100%
			right: 0
			left: 0
			bottom: auto
			padding: 80px 260px
			visibility: hidden
			-webkit-transition: all 0.3s linear
			-moz-transition: all 0.3s linear
			-o-transition: all 0.3s linear
			transition: all 0.3s linear
			opacity: 0
			transform: translateY(10px)

		&:hover

			.catalog-active-color
				background-color: $gradientColorOne

			.nav-link
				color: $mainColor

			.menu
				visibility: visible
				opacity: 1
				transform: translateY(1px)

	.nav

		.nav-item
			margin-right: 30px
			padding-top: 20px
			padding-bottom: 20px

			&.active .nav-link
				color: $gradientColorOne

			&:first-child .nav-link:hover:after
				width: 0

			&:last-child
				margin-right: 0

		.nav-link
			position: relative

			&:after
				position: absolute
				top: 100%
				left: 0
				z-index: 101
				display: block
				content: ""
				width: 0
				height: 2px
				background-color: $gradientColorOne
				opacity: 0.4
				-webkit-transition: all .3s linear
				-moz-transition: all .3s linear
				-o-transition: all .3s linear
				transition: all .3s linear

			&:hover:after
				width: 90%

	.catalog-active-color
		background: $activeColor
		border-radius: 10px
		padding: 5px 15px









