@import "variables"

.header
	position: relative
	padding: 30px 0 8px

	.logo
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%,-50%)

		img
			max-height: 50px

	.header-link-phone
		font-size: 18px
		font-family: 'Futura-PT-Medium',sans-serif
		line-height: 25px
		color: $darkColor

	.header-phone-text
		font-size: 18px
		line-height: 25px
		font-family: 'Futura-PT-Book',sans-serif
		color: $darkColor

	.icon-group

		.icon
			font-size: 28px
			color: $mainText
			margin-left: 30px

		.icon-heat
			width: 34px
			height: 28px
			display: block

		.icon-heat:hover:before
			content: "\e912"
			font-size: 28px
			width: 34px
			height: 28px
			display: block

.navbar
	background: $mainColor
	padding-top: 30px
	padding-bottom: 40px

	.nav

		.nav-link
			font-size: 18px
			color: $darkColor
			font-family: 'Futura-PT-Book',sans-serif
			padding: 5px 15px
			position: relative



		.active
			color: $gradientColorOne

		.nav-item
			margin-right: 30px

			&:after
				display: block
				content: ""
				width: 0
				height: 2px
				background-color: $gradientColorOne
				bottom: -5px
				opacity: 0.4
				-webkit-transition: all .3s linear
				-moz-transition: all .3s linear
				-o-transition: all .3s linear
				transition: width .3s ease-in-out

			&:hover:after
				width: 90%

			&:first-child:hover:after
				width: 0

			&:last-child
				margin: 0

	.catalog-active-color
		background: $activeColor
		border-radius: 10px
		padding: 5px 15px






