@import "variables"

.header
	position: relative
	margin-bottom: 10px
	padding-top: 30px
	padding-bottom: 30px


	.logo
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%,-50%)

		img
			max-height: 50px

	.header-link-phone
		font-size: 18px
		font-family: 'Futura-PT-Bold', sans-serif
		color: $darkColor

	.header-phone-text
		font-size: 18px
		font-family: 'Futura-PT-Book',sans-serif


	.icon-group

		.icon
			font-size: 28px
			color: $mainText
			margin-left: 30px


.navbar
	padding-top: 0
	padding-bottom: 0

	.nav

		.nav-link
			font-size: 18px
			color: $darkColor
			font-family: 'Futura-PT-Book',sans-serif
			padding: 5px 15px

		.nav-item
			margin-right: 30px

			&:last-child
				margin: 0




