@import "variables"

body
	font-family: 'Futura PT', sans-serif
	background-color: $mainColor
	font-size: 16px
	font-weight: normal
	min-height: 100vh
	overflow-x: hidden

a
	text-decoration: none

.container
	max-width: 1424px

.container-lg
	max-width: 1224px

.container-sm
	max-width: 800px

.section-intro
	margin-bottom: 80px
	position: relative
	overflow: hidden

	&::after
		content: ""
		position: absolute
		top: 90%
		z-index: 101
		height: 70px
		width: 3840px
		background: url("../img/mockup/wave.svg") repeat-x left bottom
		animation: waves 30s linear infinite

@-webkit-keyframes waves

	from
		transform: none

	to
		transform: translateX(-50%)

@keyframes waves

	from
		transform: none

	to
		transform: translateX(-50%)

//section-item

.section-item
	position: relative
	margin-bottom: 230px

	.item-header
		margin-bottom: 57px


		.section-item-text
			font-family: 'Futura-PT-Book', sans-serif
			font-size: 20px
			line-height: 28px
			color: $secondColor
			margin-bottom: 0

	.item-body
		text-align: left
		background: $mainBackground

		.checkbox-follow
			position: absolute
			top: 20px
			right: 20px

		img
			-webkit-transition: all 0.5s linear
			-moz-transition: all 0.5s linear
			-o-transition: all 0.5s linear
			transition: all 0.5s linear

			&:hover
				transform: scale(1.1)

	.item-footer

		.item-price
			font-size: 20px
			line-height: 28px
			color: $mainText
			font-family: 'Futura-PT-Demi',sans-serif
			margin-bottom: 1px

		.item-name
			font-size: 20px
			line-height: 28px
			color: $mainText
			font-family: "Futura-PT-Book", sans-serif
			margin-bottom: 5px

		.item-size
			margin: 0
			padding: 0
			display: flex
			list-style: none

			li

				&:after
					content: "|"
					width: 1px
					height: 7px
					color: $lightColor
					margin: 0 7px

				&:last-child:after
					display: none

			.item-size-link
					font-size: 16px
					line-height: 22px
					color: $mainText
					font-family: "Futura-PT-Book", sans-serif

//section-trust

.section-trust
	margin-bottom: 120px

	.section-trust-header
		margin-bottom: 50px

//section-best

.checkbox-follow
	line-height: 1
	cursor: pointer

	input
		visibility: hidden
		display: block
		height: 0
		width: 0
		position: absolute
		overflow: hidden

	.icon
		font-size: 20px
		color: $darkenColor
		position: relative
		z-index: 102

	[type=checkbox]:checked + .icon:before
		content: "\e912"
		font-size: 20px

//section-best
.section-best
	padding-top: 85px
	background: $mainBackground

	.best-header
		margin-bottom: 25px

	.title-wrapper
		max-width: 560px

	.section-best-wrapper
		max-width: 410px
		padding: 12px 0 0 43px

		.icon-element
			font-size: 23px
			color: $gradientColorOne
			position: relative
			top: 12px
			left: -43px

		.section-best-text
			font-size: 18px
			line-height: 25px
			font-family: "Futura-PT-Book", sans-serif
			color: $mainText

	.section-best-group
		text-align: left
		margin-bottom: 90px
		max-width: 290px

		.best-title
			font-size: 20px
			line-height: 20px
			color: $mainText
			font-family: "Futura-PT-Medium", sans-serif
			margin-bottom: 13px

		.best-text
			font-size: 18px
			line-height: 25px
			color: $mainText
			font-family: "Futura-PT-Book", sans-serif


	.wave-wrapper
		margin-bottom: 86px
		max-width: 620px

		.best-wave-element
			background-image: url("../img/decore-wave-one.png")
			background-repeat: repeat-x
			background-position: left bottom
			height: 60px
			margin-right: auto
			display: block

//section-gallery
.section-gallery
	padding-top: 110px
	margin-bottom: 84px

	.gallery-header
		margin-bottom: 60px

		.gallery-title-wrapper
			max-width: 530px

			.gallery-title-text
				font-size: 20px
				line-height: 28px
				font-family: "Futura-PT-Book", sans-serif
				color: $secondColor
				margin-bottom: 10px


	.wrapper-img-gallery-big
		margin-bottom: 30px
		max-height: 685px

	.wrapper-img-gallery
		margin-bottom: 30px
		max-height: 328px

//section-mailing
.section-mailing
	background: $mainBackground
	padding: 30px 0

	.wrapper-mailing
		display: flex
		align-items: center

		.mailing-img
			max-height: 50px

		.mailing-text
			font-size: 20px
			line-height: 28px
			font-family: "Futura-PT-Book", sans-serif
			color: $mainText
			margin: 0 0 0 30px

	.mailing-group
		display: flex
		justify-content: flex-end
		align-items: center

		.form-control
			max-width: 360px
			border-radius: 15px
			border: 1px solid $lightColor
			font-size: 18px
			line-height: 18px
			font-family: "Futura-PT-Book", sans-serif
			padding: 16px

		.btn
			margin-left: 15px

//section-breadcrumb
.section-breadcrumb

	.breadcrumb
		margin: 0

		a
			color: $mainText
			font-size: 18px
			line-height: 25px

//section-breadcrumb
.section-breadcrumb
	padding-top: 40px


//section-about
.section-about
	padding-top: 80px
	padding-bottom: 220px

	.about-header
		margin-bottom: 90px

		.about-title
			font-size: 38px
			line-height: 53px
			font-family: "Futura-PT-Book", sans-serif
			color: $mainText
			position: relative

			&:before
				content: ""
				position: absolute
				background: url("../img/wave-mini.png") no-repeat
				width: 100%
				height: 21px
				left: 0
				top: 70px

		.about-header-text
			font-family: Futura-PT-Book,sans-serif
			font-size: 18px
			line-height: 25px
			margin: 0

	.about-card
		padding: 80px 60px
		background: $primaryOpacityColor
		position: relative
		margin-bottom: 30px
		border-radius: 50px

		.card-element
			background: $mainColor
			width: 44px
			height: 44px
			border-radius: 100%
			position: absolute
			z-index: 101
			right: 30px
			top: 30px
			padding: 11px
			text-align: center

		.card-title
			font-size: 24px
			line-height: 28px
			color: $mainText
			font-family: Futura-PT-Medium, sans-serif
			margin-bottom: 10px

		.card-text
			font-size: 18px
			line-height: 25px
			color: $mainText
			font-family: Futura-PT-Book, sans-serif

	.background-card
		background: $successColor


.section-contact
	padding-top: 60px
	margin-bottom: 80px

	.contact-wrapper-title
		margin-bottom: 50px

	.contact-card
		border: 1px solid $ultraLightColor
		border-radius: 40px
		padding: 60px 50px 60px 60px
		list-style: none
		margin: 0
		position: relative
		text-align: left
		min-height: 298px

		.icon
			color: $gradientColorOne
			fill: #0dcaf0

		.contact-card-title
			font-family: Futura-PT-Medium, sans-serif
			color: $mainText
			font-size: 22px
			line-height: 26px

		.contact-element
			position: absolute
			height: 38px
			width: 38px
			border-radius: 12px
			background: $mainSecondary
			text-align: center
			top: 30px
			right: 30px
			font-size: 18px
			padding: 10px

		.contact-card-text
			font-family: Futura-PT-Book, sans-serif
			color: $mainText
			font-size: 20px
			line-height: 28px

		.btn
			color: $gradientColorOne
			margin-top: 30px
			padding: 0
			font-family: inherit
			font-size: 20px
			line-height: 28px

			&:focus
				box-shadow: none

			.icon-down-stroke
				color: $gradientColorOne
				margin-left: 10px
				font-size: 10px
				transform: rotateX(-180deg)

		.card
			border: none

		.card-body
			padding: 10px 0 0 0
			font-family: inherit
			color: #2C2C2C
			font-size: 20px
			line-height: 28px

		.contact-social-group
			margin-top: 30px

//section-partners
.section-partners
	margin-bottom: 90px

	.section-partners-title-wrapper
		margin-bottom: 50px

	.section-partners-card
		list-style: none
		margin: 0
		padding: 30px
		border: 1px solid $ultraLightColor
		border-radius: 50px

		.wrapper-partner-card
			max-width: 295px

			.partners-card-title
				font-family: Futura-PT-Medium,sans-serif
				font-size: 22px
				line-height: 26px
				color: $mainText

	.wrapper-img-partners
		position: relative
		overflow: hidden
		max-width: 310px
		max-height: 170px


		.partners-img-element
			position: absolute
			right: 0
			top: 38.24%
			color: $gradientColorOne
			background: $mainColor
			padding: 8px 8px 8px 12px
			border-radius: 15px 0 0 15px
			font-size: 18px
			line-height: 25px

		.partners-img
			margin-left: 7px

	.partners-number
		font-size: 19px
		line-height: 26px
		font-family: "Futura-PT-Book", sans-serif
		margin-bottom: 15px
		color: $gradientColorOne


//section-blog

.section-blog
	padding-top: 80px

	.section-blog-header
		margin-bottom: 60px

		.blog-categories-list
			display: flex
			align-items: center
			list-style-type: none
			padding: 0
			margin: 0

			li
				margin-right: 10px

				&:last-child
					margin: 0

	.masonry-box

		.blog-card
			position: relative
			border-radius: 15px
			background: $mainColor
			max-width: 320px
			min-height: 500px
			transition: box-shadow 0.25s
			overflow: hidden
			box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07)

			&:hover
				box-shadow: 0 10px 20px -3px rgb(0 0 0 / 35%)


			.blog-card-header
				text-align: center

				img
					min-height: 229px
					-webkit-transition: all 0.5s linear
					-moz-transition: all 0.5s linear
					-o-transition: all 0.5s linear
					transition: all 0.5s linear
					position: relative
					z-index: 103

					&:hover
						transform: scale(1.1)

				.blog-card-img-element
					font-family: Futura-PT-Medium,sans-serif
					position: absolute
					z-index: 104
					top: 15px
					right: 15px
					background: $mainColor
					color: $mainText
					font-size: 14px
					border-radius: 10px
					box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1)
					padding: 7px

			.blog-body
				padding: 25px 20px
				display: block

				.text-section
					color: $mainText
					font-family: Futura-PT-Medium,sans-serif

				.mini-text-section
					display: -webkit-box
					-webkit-line-clamp: 2
					-webkit-box-orient: vertical
					overflow: hidden
					min-height: 90px
					max-height: 200px

					&:hover
						color: inherit

					&:after
						position: absolute
						top: 0
						left: 0
						right: 0
						bottom: 0
						content: ""
						z-index: 102

			.blog-card-footer

				a
					font-family: Futura-PT-Book,sans-serif
					font-size: 16px
					line-height: 22px
					color: $gradientColorOne
					margin-right: 10px

//section-pagination

.section-pagination
		padding: 50px 0 120px

		.pagination
			margin: 0
			padding: 0

		.btn
			width: 44px
			height: 44px
			text-align: center

		.page-item
			width: 44px
			height: 44px
			margin: 0

			&:first-child
				padding: 0
				margin-right: 13px

			&:last-child
				padding: 0
				margin-left: 13px

			.icon
				color: $mainColor

		.page-link
			border: none
			text-align: center
			display: block
			width: 44px
			height: 44px
			padding: 12px
			color: $pasiiveColor

			&:hover
				border-radius: 15px

		.active-pagination
			background: $mainBackground
			color: $gradientColorOne
			display: block
			border-radius: 15px

		.page-item:last-child .page-link
				border-radius: 15px
				font-size: 10px
				line-height: 23px

		.page-item:first-child .page-link
				border-radius: 15px
				font-size: 10px
				line-height: 23px

//section-article

.article-text
	font-family: Futura-PT-Book,sans-serif
	font-size: 19px
	line-height: 26px
	color: $mainText

.footer-article
	padding: 40px 0
	border-top: 1px solid $ultraLightColor
	border-bottom: 1px solid $ultraLightColor

	.footer-article-group
		display: flex
		list-style: none
		padding: 0
		margin: 0

		.icon
			width: 54px
			height: 54px
			text-align: center
			font-size: 25px
			background: $mainBackground
			color: $gradientColorOne
			display: block
			border-radius: 15px
			padding: 15px
			line-height: 22px
			margin-left: 16px

.section-delivery
	padding-top: 80px
	padding-bottom: 120px

	.delivery-text
		font-family: Futura-PT-Book,sans-serif
		font-size: 18px
		line-height: 25px
		color: $secondColor
		max-width: 470px
		margin: 0

.section-delivery-cards

	.delivery-card
		display: block
		padding: 26px 43px 29px 35px
		border-radius: 25px
		border: 1px solid $ultraLightColor
		text-align: left
		position: relative
		min-width: 390px
		max-height: 130px

		&:hover
			border: 1px solid $gradientColorOne

		.delivery-card-title
			font-family: Futura-PT-Medium,sans-serif
			font-size: 20px
			line-height: 24px
			color: $mainText

		.delivery-card-text
			font-family: Futura-PT-Book,sans-serif
			font-size: 16px
			line-height: 22px
			color: $mainText
			max-width: 220px

		.delivery-card-element
			position: absolute
			right: 43px
			top: 43px
			width: 44px
			height: 44px
			display: block
			background: $mainBackground
			border-radius: 15px
			text-align: center
			padding: 17px
			font-size: 10px
			color: $gradientColorOne

.accordion-item
	border: none
	margin-bottom: 10px
	box-shadow: 0 5px 15px rgba(0,0,0,0.1)
	border-radius: 10px

	.accordion-header
		position: relative

		.accordion-button
			font-family: "Futura-PT-Medium", sans-serif
			font-size: 18px
			line-height: 25px
			color: $mainText
			padding: 15px
			background: $mainColor

			&::after
				content: "\e905"
				font-family: 'icomoon', sans-serif
				font-size: 10px
				background-image: none
				width: 40px
				height: 40px
				border: 1px	solid $gradientColorOne
				border-radius: 100%
				text-align: center
				color: $gradientColorOne
				line-height: 30px
				padding: 6px

			&:focus
				box-shadow: none
				color: $gradientColorOne

	.accordion-body
		font-family: "Futura-PT-Book", sans-serif
		font-size: 16px
		line-height: 22px
		padding: 15px 35px 15px 15px


//section-size.

.section-size
	padding-top: 80px





