@import "variables"

body
	font-family: 'Futura PT', sans-serif
	background-color: $mainColor
	font-size: 16px
	font-weight: normal
	min-height: 100vh
	overflow-x: hidden

a
	text-decoration: none

.container
	max-width: 1424px

.section-intro
	margin-bottom: 80px

//section-item
.title
	font-family: 'Futura-PT-Medium',sans-serif
	font-size: 44px
	line-height: 61px
	color: $mainText
	margin-bottom: 10px


.section-item
	position: relative
	margin-bottom: 230px

	.item-header
		margin-bottom: 57px


		.section-item-text
			font-family: 'Futura-PT-Book', sans-serif
			font-size: 20px
			line-height: 28px
			color: $secondColor
			margin-bottom: 0

	.item-body
		position: relative
		text-align: left
		background: $mainBackground

		.checkbox-follow
			position: absolute
			top: 20px
			right: 20px

	.item-footer

		.item-price
			font-size: 20px
			line-height: 28px
			color: $mainText
			font-family: 'Futura-PT-Demi',sans-serif
			margin-bottom: 1px

		.item-name
			font-size: 20px
			line-height: 28px
			color: $mainText
			font-family: "Futura-PT-Book", sans-serif
			margin-bottom: 5px

		.item-size
			margin: 0
			padding: 0
			display: flex
			list-style: none

			li

				&:after
					content: "|"
					width: 1px
					height: 7px
					color: $lightColor
					margin: 0 7px

				&:last-child:after
					display: none

			.item-size-link
					font-size: 16px
					line-height: 22px
					color: $mainText
					font-family: "Futura-PT-Book", sans-serif

//section-trust

.section-trust
	margin-bottom: 120px


	.section-trust-header
		margin-bottom: 60px

//section-best

.checkbox-follow
	line-height: 1
	cursor: pointer

	input
		visibility: hidden
		display: block
		height: 0
		width: 0
		position: absolute
		overflow: hidden

	.icon
		font-size: 20px
		color: $darkenColor

	[type=checkbox]:checked + .icon:before
		content: "\e90a"
		font-size: 20px

//section-best
.section-best
	padding-top: 100px

	.title-wrapper
		max-width: 560px

	.section-best-wrapper
		max-width: 410px
		padding: 12px 0 0 43px

		.icon-element
			font-size: 23px
			color: $gradientColorOne
			position: relative
			top: -12px
			left: -43px

		.section-best-text
			font-size: 18px
			line-height: 25px
			font-family: "Futura-PT-Book", sans-serif
			color: $mainText

	.wave-wrapper

		.best-wave-element
			background-image: url("../img/decore-wave-one.png")
			background-repeat: repeat-x
			background-position: left top
			min-height: 60px
			max-width: 620px
			display: block












