@import "variables"
body
	font-family: 'Roboto Slab', serif
	background-color: $mainColor
	font-size: 16px
	font-weight: normal
	min-height: 100vh
	overflow-x: hidden

.container-lg
	max-width: 1080px
	margin-right: auto
	margin-left: auto
