$mainColor: #ffffff
$mainBackground: #F8F8F8
$lightColor: #E3E3E3
$ultraLightColor: #F0F0F0
$minimalColor: #CFCFCF
$whiteLightColor: #F1F1F1
$mainSecondary: #EEF6F1
$opasityColor: rgba(255, 255, 255, 0.25)
$darkenColor: #000000
$mainlightColor: rgba(255, 255, 255, 0.3)
$mainText: #2C2C2C
$darkColor: #2B2A28
$secondColor: #444444
$pasiiveColor: #848484
$activeColor: #FFECC8
$successColor: rgba(234, 244, 238, 0.8)
$primaryOpacityColor: rgba(222, 242, 244, 0.8)
$gradientColor: #21A5B5 100% #71B2B4 100%
$gradientColorOne: #21A5B5
