@import "../fonts/fonts.css";
@import "../icon/style.css";
.header {
  position: relative;
  padding: 30px 0 8px;
}
.header .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header .logo img {
  max-height: 50px;
}
.header .header-link-phone {
  font-size: 18px;
  font-family: "Futura-PT-Medium", sans-serif;
  line-height: 25px;
  color: #2B2A28;
}
.header .header-phone-text {
  font-size: 18px;
  line-height: 25px;
  font-family: "Futura-PT-Book", sans-serif;
  color: #2B2A28;
}
.header .icon-group li {
  position: relative;
}
.header .icon-group li + li {
  margin-left: 30px;
}
.header .icon-group .icon {
  font-size: 28px;
  color: #2C2C2C;
  position: relative;
}
.header .icon-group .icon-find {
  z-index: 101;
  padding-left: 5px;
  background-color: #ffffff;
  cursor: pointer;
}
.header .icon-group .icon-heat {
  width: 34px;
  height: 28px;
  display: block;
}
.header .icon-group .icon-heat:after {
  width: 6px;
  height: 6px;
  background: red;
  border-radius: 100%;
  content: "";
  position: absolute;
  top: -3px;
  right: -3px;
}
.header .icon-group .icon-heat:hover:before {
  content: "\e912";
  font-size: 28px;
  width: 34px;
  height: 28px;
  display: block;
}
.header .icon-group .icon-bag:after {
  width: 6px;
  height: 6px;
  background: red;
  border-radius: 100%;
  content: "";
  position: absolute;
  top: -3px;
  right: -3px;
}
.header .icon-group .search-panel {
  position: absolute;
  top: -18px;
  right: 0;
  width: 180px;
  transition: 0.5s;
  overflow: hidden;
}
.header .icon-group .search-panel .form-control {
  border: none;
  border-bottom: 1px solid #000000;
  border-radius: 0;
  font-family: "Futura-PT-Book", sans-serif;
  font-size: 17px;
  color: rgba(255, 255, 255, 0.3);
  opacity: 0;
  transform: translateX(100%);
  transition: 0.5s;
  padding-left: 0;
}
.header .icon-group .search-panel .form-control:focus {
  box-shadow: none;
}
.header .icon-group .search-panel.show .form-control {
  opacity: 1;
  transform: translateX(0);
  color: #000000;
}

.navbar {
  background: #ffffff;
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.navbar .nav-link {
  font-size: 18px;
  color: #2B2A28;
  font-family: "Futura-PT-Book", sans-serif;
  padding: 5px 15px;
  position: relative;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.navbar .nav-link:hover {
  color: #21A5B5;
}
.navbar .active {
  color: #21A5B5;
}
.navbar .nav-item-menu {
  z-index: 102;
}
.navbar .nav-item-menu .menu {
  position: absolute;
  z-index: 102;
  width: 100%;
  background: #ffffff;
  top: 100%;
  right: 0;
  left: 0;
  bottom: auto;
  padding: 80px 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  transform: translateY(10px);
}
.navbar .nav-item-menu:hover .catalog-active-color {
  background-color: #21A5B5;
}
.navbar .nav-item-menu:hover .nav-link {
  color: #ffffff;
}
.navbar .nav-item-menu:hover .menu {
  visibility: visible;
  opacity: 1;
  transform: translateY(1px);
}
.navbar .nav-item-menu .menu-hover-title {
  font-family: Futura-PT-Medium, sans-serif;
  font-size: 17px;
  line-height: 19px;
  color: #2C2C2C;
}
.navbar .nav-item-menu .menu-hover-group {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar .nav-item-menu .menu-hover-group li {
  margin-bottom: 10px;
}
.navbar .nav-item-menu .menu-hover-group li:last-child {
  margin: 0;
}
.navbar .nav-item-menu .menu-hover-group .menu-hover-link {
  font-family: Futura-PT-Book, sans-serif;
  font-size: 17px;
  line-height: 23px;
  color: #444444;
  display: block;
}
.navbar .nav-item-menu .menu-hover-group .menu-hover-link:hover {
  color: #21A5B5;
}
.navbar .nav-item-menu .wrapper-img-menu img {
  margin-left: 20px;
}
.navbar .nav .nav-item {
  margin-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.navbar .nav .nav-item.active .nav-link {
  color: #21A5B5;
}
.navbar .nav .nav-item:first-child .nav-link:hover:after {
  width: 0;
}
.navbar .nav .nav-item:last-child {
  margin-right: 0;
}
.navbar .nav .nav-link {
  position: relative;
}
.navbar .nav .nav-link:after {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 101;
  display: block;
  content: "";
  width: 0;
  height: 2px;
  background-color: #21A5B5;
  opacity: 0.4;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.navbar .nav .nav-link:hover:after {
  width: 90%;
}
.navbar .catalog-active-color {
  background: #FFECC8;
  border-radius: 10px;
  padding: 5px 15px;
}

.nav-tabs {
  border: none;
}
.nav-tabs .nav-link {
  border: none;
  padding: 0;
  margin: 0;
}
.nav-tabs .nav-link.active .icon:before {
  content: "\e914";
}

.swiper-intro {
  width: 100%;
  height: 100%;
}
.swiper-intro .swiper-pagination {
  position: relative;
  text-align: left;
  top: 120px;
}
.swiper-intro .swiper-pagination-bullet {
  border-radius: 2px;
  width: 15px;
  height: 6px;
  margin: 0;
  background: rgba(255, 255, 255, 0.25);
  opacity: 1;
}
.swiper-intro .swiper-pagination-bullet-active {
  background: #ffffff;
  margin: 0;
}
.swiper-intro .swiper-group {
  text-align: left;
  padding-top: 150px;
}
.swiper-intro .swiper-group .swiper-title {
  font-size: 90px;
  line-height: 115px;
  color: #ffffff;
  margin-bottom: 10px;
  font-family: "Futura-PT-Book", sans-serif;
}
.swiper-intro .swiper-group .swiper-text {
  font-size: 26px;
  line-height: 36px;
  color: #ffffff;
  margin-bottom: 50px;
  font-family: "Futura-PT-Book", sans-serif;
}
.swiper-intro .swiper-slide {
  min-height: 700px;
  background-image: url("../img/bg-grad-full-1.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
.swiper-intro .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-width: 335px;
}
.swiper-intro .swiper-slide .wrapper-tip-tool {
  position: relative;
}
.swiper-intro .swiper-slide .wrapper-tip-tool .swiper-tool-tip {
  position: absolute;
  top: 232px;
  left: 34%;
}
.swiper-intro .swiper-slide .wrapper-tip-tool .swiper-tool-tip-position-2 {
  position: absolute;
  top: 300px;
  left: 70%;
}
.swiper-intro .swiper-slide .wrapper-tip-tool .swiper-tool-tip-position-3 {
  position: absolute;
  top: 576px;
  left: 30%;
}
.swiper-intro .swiper-slide .wrapper-tip-tool .swiper-tool-tip-position-4 {
  position: absolute;
  top: 530px;
  left: 80%;
}
.swiper-intro .swiper-slide .wrapper-tip-tool .icon {
  font-size: 6px;
  width: 24px;
  background: #ffffff;
  height: 24px;
  border-radius: 100%;
  padding: 9px;
  outline: 8px rgba(255, 255, 255, 0.3) solid;
  opacity: 0.8;
  -webkit-transition: 0.5s ease;
}
.swiper-intro .swiper-slide .wrapper-tip-tool .icon-plus:hover {
  opacity: 0;
  transition: 0.5s;
}

.tooltip-inner {
  max-width: 260px;
  padding: 25px;
  font-size: 18px;
  line-height: 23px;
  font-family: "Futura-PT-Book", sans-serif;
  color: #2C2C2C;
  text-align: left;
  background-color: #ffffff;
  opacity: 1;
  border-radius: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.15);
}

.tooltip .tooltip-arrow:before {
  display: none;
}

.swiper-card .swiper-slide {
  overflow: hidden;
  height: 611px;
  cursor: pointer;
}
.swiper-card .swiper-slide .item-footer {
  padding-top: 25px;
  position: relative;
  background-color: #ffffff;
  min-height: 183px;
  -webkit-transition: all 0.12s linear;
  -moz-transition: all 0.12s linear;
  -o-transition: all 0.12s linear;
  transition: all 0.12s linear;
}
.swiper-card .swiper-slide .item-footer .btn {
  position: absolute;
  bottom: 0;
  left: 0;
}
.swiper-card .swiper-slide:hover .item-footer {
  transform: translateY(-79px);
}
.swiper-card .button-control {
  display: flex;
}
.swiper-card .button-control .swiper-button {
  top: 0;
  left: 0;
  right: 0;
  position: relative;
  border: 1px solid #21A5B5;
  border-radius: 15px;
  height: 54px;
  width: 54px;
  color: #21A5B5;
  padding: 0;
  -webkit-transition: all 0.12s linear;
  -moz-transition: all 0.12s linear;
  -o-transition: all 0.12s linear;
  transition: all 0.12s linear;
}
.swiper-card .button-control .swiper-button:hover {
  background: linear-gradient(90deg, #28BFD1 0%, #85CFD1 100%);
  color: #ffffff;
}
.swiper-card .button-control .swiper-button:after {
  font-size: 12px;
}
.swiper-card .button-control .swiper-button + .swiper-button {
  margin-left: 15px;
}

.swiper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.swiper .swiper-slide img {
  display: block;
  object-fit: cover;
  border-radius: 80px;
}
.swiper.trust-slider .swiper-slide {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 16px;
}
.swiper.trust-slider .swiper-slide .trust-card {
  background: #ffffff;
  padding: 145px 110px;
  text-align: left;
  border-radius: 80px;
}
.swiper.trust-slider .swiper-slide .trust-card .title-card {
  font-size: 25px;
  line-height: 35px;
  font-family: "Futura-PT-Medium", sans-serif;
  margin-bottom: 5px;
  color: #2C2C2C;
}
.swiper.trust-slider .swiper-slide .trust-card .card-link {
  font-size: 19px;
  line-height: 26px;
  font-family: "Futura-PT-Book", sans-serif;
  margin-bottom: 15px;
  color: #21A5B5;
  display: block;
}
.swiper.trust-slider .swiper-slide .trust-card .card-element {
  font-size: 16px;
  line-height: 22px;
  font-family: "Futura-PT-Medium", sans-serif;
  margin-bottom: 15px;
  color: #848484;
  display: block;
}
.swiper.trust-slider .swiper-slide .trust-card .trust-card-text {
  font-size: 18px;
  line-height: 25px;
  font-family: "Futura-PT-Medium", sans-serif;
  margin-bottom: 15px;
  color: #2C2C2C;
}
.swiper.trust-slider .swiper-slide .trust-card .card-link-footer {
  font-size: 18px;
  line-height: 25px;
  font-family: "Futura-PT-Book", sans-serif;
  color: #21A5B5;
  border-bottom: 1px solid #21A5B5;
  margin-right: 20px;
}
.swiper.in-trust-slider .swiper-wrapper {
  display: flex;
  flex-direction: column;
  max-height: 510px;
  max-width: 200px;
}
.swiper.in-trust-slider .swiper-slide {
  overflow: hidden;
}
.swiper.in-trust-slider .swiper-slide img {
  min-width: 150px;
  border-radius: 40px;
}
.swiper.in-trust-slider .swiper-slide-thumb-active {
  opacity: 1;
}
.swiper.in-trust-slider .swiper-scrollbar {
  width: 10px;
  background: #F0F0F0;
  opacity: 1 !important;
  right: 32px;
}
.swiper.in-trust-slider .swiper-scrollbar-drag {
  background: #CFCFCF;
  width: 4px;
  margin: auto;
  opacity: 1 !important;
}

.row-padding-10 {
  margin-left: -10px !important;
  margin-right: -10px !important;
}
.row-padding-10 > * {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.row-padding-20 {
  margin-left: -20px !important;
  margin-right: -20px !important;
}
.row-padding-20 > * {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.row-padding-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.row-padding-0 > * {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-7 {
  margin-bottom: 7px;
}

.margin-auto {
  margin: 0 auto;
}

.title {
  font-family: "Futura-PT-Medium", sans-serif;
  font-size: 44px;
  line-height: 61px;
  color: #2C2C2C;
  margin-bottom: 10px;
}

.title-page {
  font-size: 38px;
  line-height: 53px;
  font-family: "Futura-PT-Book", sans-serif;
  color: #2C2C2C;
  position: relative;
}

.title-section {
  font-family: Futura-PT-Medium, sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #2C2C2C;
}

.text-section {
  font-family: Futura-PT-Book, sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #444444;
}

.mini-text-section {
  font-family: Futura-PT-Book, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}

.title-article {
  font-family: Futura-PT-Medium, sans-serif;
  font-size: 24px;
  line-height: 33px;
  color: #2C2C2C;
}

.footer {
  padding-top: 80px;
  padding-bottom: 80px;
}
.footer .footer-list-title {
  font-family: "Futura-PT-Book", sans-serif;
  font-size: 24px;
  line-height: 33px;
  color: #2C2C2C;
  margin-bottom: 20px;
  display: block;
}
.footer .footer-list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}
.footer .footer-list .footer-link {
  font-size: 16px;
  font-family: "Futura-PT-Book", sans-serif;
  line-height: 22px;
  color: #444444;
  margin: 0 0 12px 0;
  display: block;
}
.footer .footer-list .footer-link .icon {
  font-size: 18px;
  color: #21A5B5;
  margin-left: 8px;
}
.footer .footer-list .footer-mail {
  font-size: 18px;
  font-family: "Futura-PT-Medium", sans-serif;
  line-height: 25px;
  color: #444444;
  margin-bottom: 15px;
  display: block;
}
.footer .footer-list .footer-phone {
  font-size: 18px;
  font-family: "Futura-PT-Medium", sans-serif;
  line-height: 25px;
  color: #21A5B5;
  margin-bottom: 20px;
  display: block;
}
.footer .footer-list .btn-top {
  position: absolute;
  right: 100px;
  bottom: -100px;
  padding: 10px 20px;
  font-size: 15px;
}
.footer .footer-list .btn-top:focus {
  box-shadow: none;
}
.footer .footer-list .btn-top:hover {
  color: #FF0000FF;
}
.footer .footer-list .icon-next {
  display: block;
  color: #21A5B5;
  margin-bottom: 15px;
  animation: spin 3s infinite linear;
  font-size: 25px;
  padding-bottom: 5px;
}
.footer .footer-list .footer-group {
  margin-bottom: 30px;
}
.footer .footer-list .footer-group .footer-social {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #F1F1F1;
  margin-right: 10px;
}

@keyframes spin {
  0% {
    transform: translate3d(0, -40%, 0);
  }
  50% {
    transform: translate3d(0, 90%, 0);
  }
  100% {
    transform: translate3d(0, -40%, 0);
  }
}
.btn-light {
  background: none;
  color: #ffffff;
  font-family: "Futura-PT-Book", sans-serif;
}

.btn-lg {
  padding: 16px 30px;
  border-radius: 15px;
  font-size: 20px;
  line-height: 20px;
}

.btn-sm {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  padding: 18px;
  font-size: 11px;
  text-align: center;
}

.btn-xs {
  padding: 7px 15px;
}

.btn-light-list {
  font-family: "Futura-PT-Medium", sans-serif;
  background: none;
  color: #2C2C2C;
  border: 1px solid #CFCFCF;
  border-radius: 15px;
  font-size: 16px;
  line-height: 20px;
}

.btn-active-categories {
  border: 2px solid #21A5B5;
}

.btn-outline-info {
  color: #21A5B5 100% #71B2B4 100%;
  font-family: "Futura-PT-Medium", sans-serif;
  border-color: #21A5B5;
  -webkit-transition: all 0.12s linear;
  -moz-transition: all 0.12s linear;
  -o-transition: all 0.12s linear;
  transition: all 0.12s linear;
}
.btn-outline-info:hover {
  background: linear-gradient(90deg, #28BFD1 0%, #85CFD1 100%);
  color: #ffffff;
}

.btn-gradient-primary {
  border: 1px solid #21A5B5;
  color: #ffffff;
  background: #21A5B5;
  -webkit-transition: all 0.12s linear;
  -moz-transition: all 0.12s linear;
  -o-transition: all 0.12s linear;
  transition: all 0.12s linear;
}
.btn-gradient-primary:hover {
  background: linear-gradient(90deg, #28BFD1 0%, #85CFD1 100%);
  color: #ffffff;
}

.btn-primary {
  background: linear-gradient(90deg, #21A5B5 0%, #71B2B4 100%);
  color: #ffffff;
}

.cert-value-btn {
  padding: 12px 20px;
  border-radius: 5px;
  border: 2px solid #F0F0F0;
  color: #2C2C2C;
  font-size: 15px;
  line-height: 12px;
  background: #ffffff;
}

.cert-value-btn-active {
  background: #21A5B5;
  font-size: 15px;
  line-height: 12px;
  color: #ffffff;
}

body {
  font-family: "Futura PT", sans-serif;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: normal;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1424px;
}

.container-lg {
  max-width: 1224px;
}

.container-sm {
  max-width: 800px;
}

.section-intro {
  margin-bottom: 80px;
  position: relative;
  overflow: hidden;
}
.section-intro::after {
  content: "";
  position: absolute;
  top: 90%;
  z-index: 101;
  height: 70px;
  width: 3840px;
  background: url("../img/mockup/wave.svg") repeat-x left bottom;
  animation: waves 30s linear infinite;
}

@-webkit-keyframes waves {
  from {
    transform: none;
  }
  to {
    transform: translateX(-50%);
  }
}
@keyframes waves {
  from {
    transform: none;
  }
  to {
    transform: translateX(-50%);
  }
}
.section-item {
  position: relative;
  margin-bottom: 230px;
}
.section-item .item-header {
  margin-bottom: 57px;
}
.section-item .item-header .section-item-text {
  font-family: "Futura-PT-Book", sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #444444;
  margin-bottom: 0;
}
.section-item .item-body {
  text-align: left;
  background: #F8F8F8;
}
.section-item .item-body .checkbox-follow {
  position: absolute;
  top: 20px;
  right: 20px;
}
.section-item .item-body img {
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.section-item .item-body img:hover {
  transform: scale(1.1);
}
.section-item .item-footer .item-price {
  font-size: 20px;
  line-height: 28px;
  color: #2C2C2C;
  font-family: "Futura-PT-Demi", sans-serif;
  margin-bottom: 1px;
}
.section-item .item-footer .item-name {
  font-size: 20px;
  line-height: 28px;
  color: #2C2C2C;
  font-family: "Futura-PT-Book", sans-serif;
  margin-bottom: 5px;
}
.section-item .item-footer .item-size {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}
.section-item .item-footer .item-size li:after {
  content: "|";
  width: 1px;
  height: 7px;
  color: #E3E3E3;
  margin: 0 7px;
}
.section-item .item-footer .item-size li:last-child:after {
  display: none;
}
.section-item .item-footer .item-size .item-size-link {
  font-size: 16px;
  line-height: 22px;
  color: #2C2C2C;
  font-family: "Futura-PT-Book", sans-serif;
}

.section-trust {
  margin-bottom: 120px;
}
.section-trust .section-trust-header {
  margin-bottom: 50px;
}

.checkbox-follow {
  line-height: 1;
  cursor: pointer;
}
.checkbox-follow input {
  visibility: hidden;
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  overflow: hidden;
}
.checkbox-follow .icon {
  font-size: 20px;
  color: #000000;
  position: relative;
  z-index: 102;
}
.checkbox-follow [type=checkbox]:checked + .icon:before {
  content: "\e912";
  font-size: 20px;
  color: #FF0000FF;
}

.section-best {
  padding-top: 85px;
  background: #F8F8F8;
}
.section-best .best-header {
  margin-bottom: 25px;
}
.section-best .title-wrapper {
  max-width: 560px;
}
.section-best .section-best-wrapper {
  max-width: 410px;
  padding: 12px 0 0 43px;
}
.section-best .section-best-wrapper .icon-element {
  font-size: 23px;
  color: #21A5B5;
  position: relative;
  top: 12px;
  left: -43px;
}
.section-best .section-best-wrapper .section-best-text {
  font-size: 18px;
  line-height: 25px;
  font-family: "Futura-PT-Book", sans-serif;
  color: #2C2C2C;
}
.section-best .section-best-group {
  text-align: left;
  margin-bottom: 90px;
  max-width: 290px;
}
.section-best .section-best-group .best-title {
  font-size: 20px;
  line-height: 20px;
  color: #2C2C2C;
  font-family: "Futura-PT-Medium", sans-serif;
  margin-bottom: 13px;
}
.section-best .section-best-group .best-text {
  font-size: 18px;
  line-height: 25px;
  color: #2C2C2C;
  font-family: "Futura-PT-Book", sans-serif;
}
.section-best .wave-wrapper {
  margin-bottom: 86px;
  max-width: 620px;
}
.section-best .wave-wrapper .best-wave-element {
  background-image: url("../img/decore-wave-one.png");
  background-repeat: repeat-x;
  background-position: left bottom;
  height: 60px;
  margin-right: auto;
  display: block;
}

.section-gallery {
  padding-top: 110px;
  margin-bottom: 84px;
}
.section-gallery .gallery-header {
  margin-bottom: 60px;
}
.section-gallery .gallery-header .gallery-title-wrapper {
  max-width: 530px;
}
.section-gallery .gallery-header .gallery-title-wrapper .gallery-title-text {
  font-size: 20px;
  line-height: 28px;
  font-family: "Futura-PT-Book", sans-serif;
  color: #444444;
  margin-bottom: 10px;
}
.section-gallery .wrapper-img-gallery-big {
  margin-bottom: 30px;
  max-height: 685px;
}
.section-gallery .wrapper-img-gallery {
  margin-bottom: 30px;
  max-height: 328px;
}

.section-mailing {
  background: #F8F8F8;
  padding: 30px 0;
}
.section-mailing .wrapper-mailing {
  display: flex;
  align-items: center;
}
.section-mailing .wrapper-mailing .mailing-img {
  max-height: 50px;
}
.section-mailing .wrapper-mailing .mailing-text {
  font-size: 20px;
  line-height: 28px;
  font-family: "Futura-PT-Book", sans-serif;
  color: #2C2C2C;
  margin: 0 0 0 30px;
}
.section-mailing .mailing-group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.section-mailing .mailing-group .form-control {
  max-width: 360px;
  border-radius: 15px;
  border: 1px solid #E3E3E3;
  font-size: 18px;
  line-height: 18px;
  font-family: "Futura-PT-Book", sans-serif;
  padding: 16px;
}
.section-mailing .mailing-group .btn {
  margin-left: 15px;
}

.section-breadcrumb .breadcrumb {
  margin: 0;
}
.section-breadcrumb .breadcrumb a {
  color: #2C2C2C;
  font-size: 18px;
  line-height: 25px;
}

.section-breadcrumb {
  padding-top: 40px;
}

.section-about {
  padding-top: 80px;
  padding-bottom: 220px;
}
.section-about .about-header {
  margin-bottom: 90px;
}
.section-about .about-header .about-title {
  font-size: 38px;
  line-height: 53px;
  font-family: "Futura-PT-Book", sans-serif;
  color: #2C2C2C;
  position: relative;
}
.section-about .about-header .about-title:before {
  content: "";
  position: absolute;
  background: url("../img/wave-mini.png") no-repeat;
  width: 100%;
  height: 21px;
  left: 0;
  top: 70px;
}
.section-about .about-header .about-header-text {
  font-family: Futura-PT-Book, sans-serif;
  font-size: 18px;
  line-height: 25px;
  margin: 0;
}
.section-about .about-card {
  padding: 80px 60px;
  background: rgba(222, 242, 244, 0.8);
  position: relative;
  margin-bottom: 30px;
  border-radius: 50px;
}
.section-about .about-card .card-element {
  background: #ffffff;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  position: absolute;
  z-index: 101;
  right: 30px;
  top: 30px;
  padding: 11px;
  text-align: center;
}
.section-about .about-card .card-title {
  font-size: 24px;
  line-height: 28px;
  color: #2C2C2C;
  font-family: Futura-PT-Medium, sans-serif;
  margin-bottom: 10px;
}
.section-about .about-card .card-text {
  font-size: 18px;
  line-height: 25px;
  color: #2C2C2C;
  font-family: Futura-PT-Book, sans-serif;
}
.section-about .background-card {
  background: rgba(234, 244, 238, 0.8);
}

.section-contact {
  padding-top: 60px;
  margin-bottom: 80px;
}
.section-contact .contact-wrapper-title {
  margin-bottom: 50px;
}
.section-contact .contact-card {
  border: 1px solid #F0F0F0;
  border-radius: 40px;
  padding: 60px 50px 60px 60px;
  list-style: none;
  margin: 0;
  position: relative;
  text-align: left;
  min-height: 298px;
}
.section-contact .contact-card .icon {
  color: #21A5B5;
  fill: #0dcaf0;
}
.section-contact .contact-card .contact-card-title {
  font-family: Futura-PT-Medium, sans-serif;
  color: #2C2C2C;
  font-size: 22px;
  line-height: 26px;
}
.section-contact .contact-card .contact-element {
  position: absolute;
  height: 38px;
  width: 38px;
  border-radius: 12px;
  background: #EEF6F1;
  text-align: center;
  top: 30px;
  right: 30px;
  font-size: 18px;
  padding: 10px;
}
.section-contact .contact-card .contact-card-text {
  font-family: Futura-PT-Book, sans-serif;
  color: #2C2C2C;
  font-size: 20px;
  line-height: 28px;
}
.section-contact .contact-card .btn {
  color: #21A5B5;
  margin-top: 30px;
  padding: 0;
  font-family: inherit;
  font-size: 20px;
  line-height: 28px;
}
.section-contact .contact-card .btn:focus {
  box-shadow: none;
}
.section-contact .contact-card .btn .icon-down-stroke {
  color: #21A5B5;
  margin-left: 10px;
  font-size: 10px;
  transform: rotateX(-180deg);
}
.section-contact .contact-card .card {
  border: none;
}
.section-contact .contact-card .card-body {
  padding: 10px 0 0 0;
  font-family: inherit;
  color: #2C2C2C;
  font-size: 20px;
  line-height: 28px;
}
.section-contact .contact-card .contact-social-group {
  margin-top: 30px;
}

.section-partners {
  margin-bottom: 90px;
}
.section-partners .section-partners-title-wrapper {
  margin-bottom: 50px;
}
.section-partners .section-partners-card {
  list-style: none;
  margin: 0;
  padding: 30px;
  border: 1px solid #F0F0F0;
  border-radius: 50px;
}
.section-partners .section-partners-card .wrapper-partner-card {
  max-width: 295px;
}
.section-partners .section-partners-card .wrapper-partner-card .partners-card-title {
  font-family: Futura-PT-Medium, sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #2C2C2C;
}
.section-partners .wrapper-img-partners {
  position: relative;
  overflow: hidden;
  max-width: 310px;
  max-height: 170px;
}
.section-partners .wrapper-img-partners .partners-img-element {
  position: absolute;
  right: 0;
  top: 38.24%;
  color: #21A5B5;
  background: #ffffff;
  padding: 8px 8px 8px 12px;
  border-radius: 15px 0 0 15px;
  font-size: 18px;
  line-height: 25px;
}
.section-partners .wrapper-img-partners .partners-img {
  margin-left: 7px;
}
.section-partners .partners-number {
  font-size: 19px;
  line-height: 26px;
  font-family: "Futura-PT-Book", sans-serif;
  margin-bottom: 15px;
  color: #21A5B5;
}

.section-blog {
  padding-top: 80px;
}
.section-blog .section-blog-header {
  margin-bottom: 60px;
}
.section-blog .section-blog-header .blog-categories-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.section-blog .section-blog-header .blog-categories-list li {
  margin-right: 10px;
}
.section-blog .section-blog-header .blog-categories-list li:last-child {
  margin: 0;
}
.section-blog .masonry-box .blog-card {
  position: relative;
  border-radius: 15px;
  background: #ffffff;
  max-width: 320px;
  min-height: 500px;
  transition: box-shadow 0.25s;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
}
.section-blog .masonry-box .blog-card:hover {
  box-shadow: 0 10px 20px -3px rgba(0, 0, 0, 0.35);
}
.section-blog .masonry-box .blog-card .blog-card-header {
  text-align: center;
}
.section-blog .masonry-box .blog-card .blog-card-header img {
  min-height: 229px;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  position: relative;
  z-index: 103;
}
.section-blog .masonry-box .blog-card .blog-card-header img:hover {
  transform: scale(1.1);
}
.section-blog .masonry-box .blog-card .blog-card-header .blog-card-img-element {
  font-family: Futura-PT-Medium, sans-serif;
  position: absolute;
  z-index: 104;
  top: 15px;
  right: 15px;
  background: #ffffff;
  color: #2C2C2C;
  font-size: 14px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 7px;
}
.section-blog .masonry-box .blog-card .blog-body {
  padding: 25px 20px;
  display: block;
}
.section-blog .masonry-box .blog-card .blog-body .text-section {
  color: #2C2C2C;
  font-family: Futura-PT-Medium, sans-serif;
}
.section-blog .masonry-box .blog-card .blog-body .mini-text-section {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 90px;
  max-height: 200px;
}
.section-blog .masonry-box .blog-card .blog-body .mini-text-section:hover {
  color: inherit;
}
.section-blog .masonry-box .blog-card .blog-body .mini-text-section:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  z-index: 102;
}
.section-blog .masonry-box .blog-card .blog-card-footer a {
  font-family: Futura-PT-Book, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #21A5B5;
  margin-right: 10px;
}

.section-pagination {
  padding: 50px 0 120px;
}
.section-pagination .pagination {
  margin: 0;
  padding: 0;
}
.section-pagination .btn {
  width: 44px;
  height: 44px;
  text-align: center;
}
.section-pagination .page-item {
  width: 44px;
  height: 44px;
  margin: 0;
}
.section-pagination .page-item:first-child {
  padding: 0;
  margin-right: 13px;
}
.section-pagination .page-item:last-child {
  padding: 0;
  margin-left: 13px;
}
.section-pagination .page-item .icon {
  color: #ffffff;
}
.section-pagination .page-link {
  border: none;
  text-align: center;
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px;
  color: #848484;
}
.section-pagination .page-link:hover {
  border-radius: 15px;
}
.section-pagination .active-pagination {
  background: #F8F8F8;
  color: #21A5B5;
  display: block;
  border-radius: 15px;
}
.section-pagination .page-item:last-child .page-link {
  border-radius: 15px;
  font-size: 10px;
  line-height: 23px;
}
.section-pagination .page-item:first-child .page-link {
  border-radius: 15px;
  font-size: 10px;
  line-height: 23px;
}

.article-text {
  font-family: Futura-PT-Book, sans-serif;
  font-size: 19px;
  line-height: 26px;
  color: #2C2C2C;
}

.footer-article {
  padding: 40px 0;
  border-top: 1px solid #F0F0F0;
  border-bottom: 1px solid #F0F0F0;
}
.footer-article .footer-article-group {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-article .footer-article-group .icon {
  width: 54px;
  height: 54px;
  text-align: center;
  font-size: 25px;
  background: #F8F8F8;
  color: #21A5B5;
  display: block;
  border-radius: 15px;
  padding: 15px;
  line-height: 22px;
  margin-left: 16px;
}

.section-delivery {
  padding-top: 80px;
  padding-bottom: 120px;
}
.section-delivery .delivery-text {
  font-family: Futura-PT-Book, sans-serif;
  font-size: 18px;
  line-height: 25px;
  color: #444444;
  max-width: 470px;
  margin: 0;
}

.section-delivery-cards .delivery-card {
  display: block;
  padding: 26px 43px 29px 35px;
  border-radius: 25px;
  border: 1px solid #F0F0F0;
  text-align: left;
  position: relative;
  min-width: 390px;
  max-height: 130px;
}
.section-delivery-cards .delivery-card:hover {
  border: 1px solid #21A5B5;
}
.section-delivery-cards .delivery-card .delivery-card-title {
  font-family: Futura-PT-Medium, sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #2C2C2C;
}
.section-delivery-cards .delivery-card .delivery-card-text {
  font-family: Futura-PT-Book, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #2C2C2C;
  max-width: 220px;
}
.section-delivery-cards .delivery-card .delivery-card-element {
  position: absolute;
  right: 43px;
  top: 43px;
  width: 44px;
  height: 44px;
  display: block;
  background: #F8F8F8;
  border-radius: 15px;
  text-align: center;
  padding: 17px;
  font-size: 10px;
  color: #21A5B5;
}

.accordion-item {
  border: none;
  margin-bottom: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.accordion-item .accordion-header {
  position: relative;
}
.accordion-item .accordion-header .accordion-button {
  font-family: "Futura-PT-Medium", sans-serif;
  font-size: 18px;
  line-height: 25px;
  color: #2C2C2C;
  padding: 15px;
  background: #ffffff;
}
.accordion-item .accordion-header .accordion-button::after {
  content: "\e905";
  font-family: "icomoon", sans-serif;
  font-size: 10px;
  background-image: none;
  width: 40px;
  height: 40px;
  border: 1px solid #21A5B5;
  border-radius: 100%;
  text-align: center;
  color: #21A5B5;
  line-height: 30px;
  padding: 6px;
}
.accordion-item .accordion-header .accordion-button:focus {
  box-shadow: none;
  color: #21A5B5;
}
.accordion-item .accordion-body {
  font-family: "Futura-PT-Book", sans-serif;
  font-size: 16px;
  line-height: 22px;
  padding: 15px 35px 15px 15px;
}

.section-size {
  padding-top: 100px;
}
.section-size .section-size-header {
  margin-bottom: 160px;
}
.section-size .section-size-header .section-size-header-text {
  font-family: "Futura-PT-Book", sans-serif;
  font-size: 19px;
  line-height: 26px;
  margin: 0;
}

.section-size-cards {
  margin-bottom: 100px;
}
.section-size-cards .section-size-card {
  width: 100%;
}
.section-size-cards .section-size-card .section-size-card-header {
  border-radius: 20px;
  text-align: center;
  position: relative;
  height: 420px;
  background: linear-gradient(#f1f1f1, #f1f1f1) left bottom 400px;
  margin-bottom: 25px;
}
.section-size-cards .section-size-card .section-size-card-header .size-card-title {
  position: absolute;
  left: 0;
  top: -50px;
  font-size: 22px;
  line-height: 31px;
  font-family: "Futura-PT-Medium", sans-serif;
}
.section-size-cards .section-size-card .section-size-card-header .size-card-img {
  position: absolute;
  top: 41%;
  left: 50%;
  height: 500px;
  width: auto;
  max-width: none;
  transform: translate(-50%, -50%);
}
.section-size-cards .section-size-card .section-size-card-body .size-card-text {
  display: block;
  font-size: 19px;
  line-height: 26px;
  font-family: "Futura-PT-Book", sans-serif;
}

.section-size-table {
  padding: 70px;
  border-radius: 30px;
  border: 1px solid #F0F0F0;
  margin-bottom: 100px;
  overflow-x: scroll;
}
.section-size-table .table-size-list {
  margin: auto;
  width: 100%;
}
.section-size-table .table-size-list tr {
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.section-size-table .table-size-list tr:hover {
  background: #F1F1F1;
}
.section-size-table .table-size-list th {
  padding: 12px 0 30px 10px;
  font-weight: 500;
}
.section-size-table .table-size-list th:first-child {
  padding-right: 60px;
}
.section-size-table .table-size-list .size-table-header {
  font-family: "Futura-PT-Medium", sans-serif;
  font-size: 19px;
  line-height: 24px;
  color: #2C2C2C;
}
.section-size-table .table-size-list .size-table-body {
  font-family: "Futura-PT-Book", sans-serif;
  font-size: 19px;
  line-height: 24px;
  color: #2C2C2C;
}
.section-size-table .table-size-list .size-table-body tr:nth-child(n+2) {
  border-top: 1px dashed #F1F1F1;
}

.section-size-mini-text {
  font-family: "Futura-PT-Book", sans-serif;
  font-size: 19px;
  line-height: 27px;
  color: #2C2C2C;
  margin-bottom: 100px;
  display: block;
}

.background-text {
  background-color: #FFECC8;
}

.banner-section-size {
  margin-bottom: 120px;
}
.banner-section-size img {
  max-width: 420px;
}

.section-certificate {
  padding-bottom: 110px;
}
.section-certificate .certificate-img-wrapper {
  text-align: center;
}
.section-certificate .certificate-form-wrapper {
  padding: 80px 40px 0;
}
.section-certificate .certificate-form-wrapper .certificate-title {
  max-width: 405px;
}
.section-certificate .certificate-form-wrapper .certificate-text {
  font-family: "Futura-PT-Book", sans-serif;
  font-size: 19px;
  line-height: 24px;
  color: #2C2C2C;
  max-width: 535px;
  margin-bottom: 20px;
}
.section-certificate .certificate-form-wrapper .certificate-value-title {
  font-family: "Futura-PT-Book", sans-serif;
  font-size: 19px;
  line-height: 24px;
  color: #2C2C2C;
  margin-bottom: 10px;
}
.section-certificate .certificate-form-wrapper span {
  display: inline;
  margin: 0 5px;
  color: #21A5B5;
  font-size: 15px;
  line-height: 12px;
}
.section-certificate .certificate-form-wrapper .certificate-variant {
  list-style: none;
  display: flex;
  padding: 0;
  margin-bottom: 40px;
}
.section-certificate .certificate-form-wrapper .certificate-variant .cert-value {
  margin-right: 15px;
}
.section-certificate .certificate-forms .form-control {
  border-radius: 7px;
  border: 0.5px solid #CFCFCF;
  padding: 17px;
  font-size: 14px;
  line-height: 14px;
  color: #848484;
  max-height: 52px;
  margin-bottom: 20px;
}
.section-certificate .certificate-forms .form-control:focus {
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #2B2A28;
}
.section-certificate .certificate-forms .form-label {
  font-size: 16px;
  line-height: 14px;
  margin-bottom: 15px;
  color: #2C2C2C;
}
.section-certificate .certificate-forms .cert-danger-element {
  color: #FF0000FF;
}
.section-certificate .certificate-forms .btn {
  padding: 15px 40px;
  max-width: 188px;
  border-radius: 7px;
}
.section-certificate .certificate-forms .btn:focus {
  box-shadow: none;
}
.section-certificate .certificate-forms .certificate-textarea {
  min-height: 130px;
}

.section-catalog-header {
  padding-top: 80px;
  margin-bottom: 15px;
}
.section-catalog-header .catalog-dropdowns-box {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.section-catalog-header .catalog-dropdowns-box .dropdown {
  position: relative;
}
.section-catalog-header .catalog-dropdowns-box .dropdown .dropdown-menu {
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  border: none;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  padding: 0;
  min-width: 280px;
}
.section-catalog-header .catalog-dropdowns-box .dropdown .dropdown-menu .dropdown-title {
  font-size: 17px;
  font-family: "Futura-PT-Medium", sans-serif;
  padding: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  font-weight: 500;
}
.section-catalog-header .catalog-dropdowns-box .dropdown .dropdown-menu .dropdown-item {
  padding: 10px 20px;
}
.section-catalog-header .catalog-dropdowns-box .dropdown .dropdown-menu .dropdown-item:hover {
  background: #ffffff;
}
.section-catalog-header .catalog-dropdowns-box .dropdown .dropdown-menu .form-check {
  font-size: 17px;
  font-family: "Futura-PT-Book", sans-serif;
  line-height: 26px;
  color: #2C2C2C;
}
.section-catalog-header .catalog-dropdowns-box .dropdown .dropdown-menu .form-check .form-check-input:checked {
  background-color: #21A5B5;
  box-shadow: none;
  border-color: #848484;
}
.section-catalog-header .catalog-dropdowns-box .dropdown .dropdown-menu .button-wrapper {
  padding: 10px 20px;
}
.section-catalog-header .catalog-dropdowns-box .dropdown .dropdown-menu .button-wrapper .btn-submit {
  font-size: 16px;
  color: #ffffff;
  width: 100%;
  padding: 12px 20px;
  border: none;
}
.section-catalog-header .catalog-dropdowns-box .dropdown .dropdown-menu .button-wrapper .btn-submit:active {
  box-shadow: none;
  border: none;
}
.section-catalog-header .catalog-dropdowns-box .dropdown .dropdown-menu .icon-close {
  font-size: 15px;
  position: absolute;
  right: 20px;
  top: 25px;
  cursor: pointer;
  color: #848484;
}
.section-catalog-header .catalog-dropdowns-box .dropdown .dropdown-menu .icon-close:hover {
  color: #000000;
}
.section-catalog-header .catalog-dropdowns-box .dropdown .icon {
  display: inherit;
}
.section-catalog-header .catalog-dropdowns-box .dropdown .btn {
  border: none;
  color: #2C2C2C;
  background: none;
  padding: 10px;
  font-size: 15px;
  margin-right: 10px;
}
.section-catalog-header .catalog-dropdowns-box .dropdown .btn:focus {
  box-shadow: none;
}
.section-catalog-header .catalog-dropdowns-box .dropdown .dropdown-toggle::after {
  display: none;
}
.section-catalog-header .catalog-dropdowns-box .dropdown .icon {
  font-size: 11px;
  margin-left: 7px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.rotate .icon-down-stroke {
  transform: rotate(180deg);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.columns-number-box {
  display: flex;
}
.columns-number-box .columns-numbers-title {
  font-size: 17px;
  line-height: 22px;
  font-family: "Futura-PT-Book", sans-serif;
  color: #2C2C2C;
  margin-right: 7px;
}
.columns-number-box .columns-numbers {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}
.columns-number-box .columns-numbers .columns-number {
  margin-left: 8px;
  color: #2C2C2C;
}
.columns-number-box .columns-numbers .active {
  color: #848484;
}

.catalog-content {
  border-top: 1px solid #F0F0F0;
  padding: 35px 0 120px;
}
.catalog-content .sidebar {
  position: sticky;
  width: 220px;
}

.categories-sections .categories-section .categories-title {
  display: block;
  font-size: 17px;
  line-height: 19px;
  font-family: "Futura-PT-Demi", sans-serif;
  cursor: pointer;
  padding: 6px 0;
  margin-bottom: 10px;
}
.categories-sections .categories-section .categories-list {
  display: none;
}
.categories-sections .categories-section .categories-list a {
  color: #2C2C2C;
  font-family: Futura-PT-Book, sans-serif;
  font-size: 17px;
  line-height: 24px;
}
.categories-sections .categories-section .categories-list a:hover {
  border-bottom: 1px solid #2B2A28;
}
.categories-sections .categories-section .categories-list .active {
  border-bottom: 1px solid #2B2A28;
}
.categories-sections .categories-section .categories-list .categories-item {
  padding-left: 20px;
  margin-bottom: 10px;
}
.categories-sections .categories-section .categories-list.show-list {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.section-product-cards {
  position: relative;
  font-size: inherit;
}
.section-product-cards .swiper-slide {
  overflow: hidden;
  height: 513px;
  cursor: pointer;
  min-width: 270px;
  margin-bottom: 40px;
}
.section-product-cards .swiper-slide .item-body .item-element {
  position: absolute;
  background: #FF0000FF;
  color: #ffffff;
  font-size: 18px;
  line-height: 18px;
  padding: 7px;
  left: 15px;
  top: 15px;
  border-radius: 10px;
}
.section-product-cards .item-header {
  margin-bottom: 57px;
}
.section-product-cards .item-header .section-item-text {
  font-family: "Futura-PT-Book", sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #444444;
  margin-bottom: 0;
}
.section-product-cards .item-body {
  text-align: left;
  font-size: inherit;
  background: #F8F8F8;
}
.section-product-cards .item-body .checkbox-follow {
  position: absolute;
  top: 20px;
  right: 20px;
}
.section-product-cards .item-body img {
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.section-product-cards .item-body img:hover {
  transform: scale(1.1);
}
.section-product-cards .item-footer .item-price {
  font-size: 20px;
  line-height: 28px;
  color: #2C2C2C;
  font-family: "Futura-PT-Demi", sans-serif;
}
.section-product-cards .item-footer .item-name {
  font-size: 20px;
  line-height: 28px;
  color: #2C2C2C;
  font-family: "Futura-PT-Book", sans-serif;
  margin-bottom: 5px;
}
.section-product-cards .item-footer .item-size {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}
.section-product-cards .item-footer .item-size li:after {
  content: "|";
  width: 1px;
  height: 7px;
  color: #E3E3E3;
  margin: 0 7px;
}
.section-product-cards .item-footer .item-size li:last-child:after {
  display: none;
}
.section-product-cards .item-footer .item-size .item-size-link {
  font-size: 16px;
  line-height: 23px;
  color: #2C2C2C;
  font-family: "Futura-PT-Book", sans-serif;
}

/*# sourceMappingURL=%D1%81ommon.css.map */
