@import "../fonts/fonts.css";
@import "../icon/style.css";
.header {
  position: relative;
  padding: 30px 0 8px;
}
.header .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header .logo img {
  max-height: 50px;
}
.header .header-link-phone {
  font-size: 18px;
  font-family: "Futura-PT-Bold", sans-serif;
  line-height: 25px;
  color: #2B2A28;
}
.header .header-phone-text {
  font-size: 18px;
  line-height: 25px;
  font-family: "Futura-PT-Book", sans-serif;
  color: #2B2A28;
}
.header .icon-group .icon {
  font-size: 28px;
  color: #2C2C2C;
  margin-left: 30px;
}

.navbar {
  background: #ffffff;
  padding-top: 30px;
  padding-bottom: 40px;
}
.navbar .nav .nav-link {
  font-size: 18px;
  color: #2B2A28;
  font-family: "Futura-PT-Book", sans-serif;
  padding: 5px 15px;
}
.navbar .nav .active {
  background: #FFECC8;
  border-radius: 10px;
}
.navbar .nav .nav-item {
  margin-right: 30px;
}
.navbar .nav .nav-item:last-child {
  margin: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper .swiper-pagination {
  position: relative;
  text-align: left;
  top: 120px;
}
.swiper .swiper-pagination-bullet {
  border-radius: 0;
  width: 15px;
  height: 6px;
  margin: 0;
}
.swiper .swiper-pagination-bullet-active {
  background: #ffffff;
  margin: 0;
}

.section-intro {
  margin-bottom: 80px;
}
.section-intro .swiper-group {
  text-align: left;
}
.section-intro .swiper-group .swiper-title {
  font-size: 90px;
  line-height: 115px;
  color: #ffffff;
  margin-bottom: 10px;
  font-family: "Futura-PT-Book", sans-serif;
}
.section-intro .swiper-group .swiper-text {
  font-size: 26px;
  line-height: 36px;
  color: #ffffff;
  margin-bottom: 50px;
  font-family: "Futura-PT-Book", sans-serif;
}
.section-intro .swiper-slide {
  position: relative;
  min-height: 700px;
  background-image: url("../img/bg-grad-full.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
.section-intro .swiper-slide .swiper-tool-tip {
  position: absolute;
  top: 34%;
  left: 51%;
}
.section-intro .swiper-slide .swiper-tool-tip-position-2 {
  position: absolute;
  top: 80%;
  left: 49%;
}
.section-intro .swiper-slide .swiper-tool-tip-position-3 {
  position: absolute;
  top: 42%;
  right: 22%;
}
.section-intro .swiper-slide .swiper-tool-tip-position-4 {
  position: absolute;
  top: 77%;
  right: 17%;
}
.section-intro .swiper-slide .icon {
  font-size: 6px;
  width: 24px;
  background: #ffffff;
  height: 24px;
  border-radius: 100%;
  padding: 9px;
  outline: 8px rgba(255, 255, 255, 0.3) solid;
  opacity: 0.8;
  -webkit-transition: 0.5s ease;
}
.section-intro .swiper-slide .icon-plus:hover {
  opacity: 0;
  transition: 0.5s;
}

.tooltip-inner {
  max-width: 260px;
  padding: 25px;
  font-size: 18px;
  line-height: 23px;
  font-family: "Futura-PT-Book", sans-serif;
  color: #2C2C2C;
  text-align: center;
  background-color: #ffffff;
  border-radius: 25px;
}

.tooltip .tooltip-arrow:before {
  border-left-color: #ffffff;
}

.tooltip .tooltip-arrow:before {
  border-right-color: #ffffff;
}

.btn-light {
  background: none;
  color: #ffffff;
  font-family: "Futura-PT-Book", sans-serif;
}

.btn-lg {
  padding: 16px 30px;
  border-radius: 15px;
  font-size: 20px;
  line-height: 20px;
}

.btn-outline-info {
  color: #21A5B5 100% #71B2B4 100%;
}

body {
  font-family: "Futura PT", sans-serif;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: normal;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1424px;
}

.section-item {
  position: relative;
}
.section-item .item-header {
  margin-bottom: 60px;
}
.section-item .swiper-button-next {
  position: absolute;
  top: 10%;
  right: 25%;
}
.section-item .swiper-button-next:after {
  font-size: 11px;
  padding: 24px;
  color: #21A5B5;
  outline: 1px solid #21A5B5;
  border-radius: 15px;
  height: 54px;
  width: 54px;
}
.section-item .swiper-button-prev {
  position: absolute;
  top: 10%;
  left: 68%;
}
.section-item .swiper-button-prev:after {
  font-size: 11px;
  padding: 24px;
  color: #21A5B5;
  outline: 1px solid #21A5B5;
  border-radius: 15px;
  height: 54px;
  width: 54px;
}
.section-item .item-body {
  position: relative;
  text-align: left;
}
.section-item .item-body .icon {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 24px;
  color: #2C2C2C;
}

/*# sourceMappingURL=%D1%81ommon.css.map */
