@import "../fonts/fonts.css";
@import "../icon/style.css";
.header {
  position: relative;
  padding: 30px 0 8px;
}
.header .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header .logo img {
  max-height: 50px;
}
.header .header-link-phone {
  font-size: 18px;
  font-family: "Futura-PT-Medium", sans-serif;
  line-height: 25px;
  color: #2B2A28;
}
.header .header-phone-text {
  font-size: 18px;
  line-height: 25px;
  font-family: "Futura-PT-Book", sans-serif;
  color: #2B2A28;
}
.header .icon-group .icon {
  font-size: 28px;
  color: #2C2C2C;
  margin-left: 30px;
}

.navbar {
  background: #ffffff;
  padding-top: 30px;
  padding-bottom: 40px;
}
.navbar .nav .nav-link {
  font-size: 18px;
  color: #2B2A28;
  font-family: "Futura-PT-Book", sans-serif;
  padding: 5px 15px;
}
.navbar .nav .active {
  background: #FFECC8;
  border-radius: 10px;
}
.navbar .nav .nav-item {
  margin-right: 30px;
}
.navbar .nav .nav-item:last-child {
  margin: 0;
}

.swiper-intro {
  width: 100%;
  height: 100%;
}
.swiper-intro .swiper-pagination {
  position: relative;
  text-align: left;
  top: 120px;
}
.swiper-intro .swiper-pagination-bullet {
  border-radius: 2px;
  width: 15px;
  height: 6px;
  margin: 0;
  background: rgba(255, 255, 255, 0.25);
}
.swiper-intro .swiper-pagination-bullet-active {
  background: #ffffff;
  margin: 0;
}
.swiper-intro .swiper-group {
  text-align: left;
  padding-top: 150px;
}
.swiper-intro .swiper-group .swiper-title {
  font-size: 90px;
  line-height: 115px;
  color: #ffffff;
  margin-bottom: 10px;
  font-family: "Futura-PT-Book", sans-serif;
}
.swiper-intro .swiper-group .swiper-text {
  font-size: 26px;
  line-height: 36px;
  color: #ffffff;
  margin-bottom: 50px;
  font-family: "Futura-PT-Book", sans-serif;
}
.swiper-intro .swiper-slide {
  position: relative;
  min-height: 700px;
  background-image: url("../img/bg-grad-full.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
.swiper-intro .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-width: 335px;
}
.swiper-intro .swiper-slide .swiper-tool-tip {
  position: absolute;
  top: 34%;
  left: 51%;
}
.swiper-intro .swiper-slide .swiper-tool-tip-position-2 {
  position: absolute;
  top: 80%;
  left: 49%;
}
.swiper-intro .swiper-slide .swiper-tool-tip-position-3 {
  position: absolute;
  top: 42%;
  left: 76%;
}
.swiper-intro .swiper-slide .swiper-tool-tip-position-4 {
  position: absolute;
  top: 76%;
  left: 83%;
}
.swiper-intro .swiper-slide .icon {
  font-size: 6px;
  width: 24px;
  background: #ffffff;
  height: 24px;
  border-radius: 100%;
  padding: 9px;
  outline: 8px rgba(255, 255, 255, 0.3) solid;
  opacity: 0.8;
  -webkit-transition: 0.5s ease;
}
.swiper-intro .swiper-slide .icon-plus:hover {
  opacity: 0;
  transition: 0.5s;
}

.tooltip-inner {
  max-width: 260px;
  padding: 25px;
  font-size: 18px;
  line-height: 23px;
  font-family: "Futura-PT-Book", sans-serif;
  color: #2C2C2C;
  text-align: left;
  background-color: #ffffff;
  opacity: 1;
  border-radius: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.15);
}

.tooltip .tooltip-arrow:before {
  display: none;
}

.swiper-card .swiper-slide {
  overflow: hidden;
  height: 611px;
  cursor: pointer;
}
.swiper-card .swiper-slide .item-footer {
  padding-top: 25px;
  position: relative;
  background-color: #ffffff;
  min-height: 183px;
  -webkit-transition: all 0.12s linear;
  -moz-transition: all 0.12s linear;
  -o-transition: all 0.12s linear;
  transition: all 0.12s linear;
}
.swiper-card .swiper-slide .item-footer .btn {
  position: absolute;
  bottom: 0;
  left: 0;
}
.swiper-card .swiper-slide:hover .item-footer {
  transform: translateY(-79px);
}
.swiper-card .button-control {
  display: flex;
}
.swiper-card .button-control .swiper-button {
  top: 0;
  left: 0;
  right: 0;
  position: relative;
  border: 1px solid #21A5B5;
  border-radius: 15px;
  height: 54px;
  width: 54px;
  color: #21A5B5;
  padding: 0;
}
.swiper-card .button-control .swiper-button:after {
  font-size: 12px;
}
.swiper-card .button-control .swiper-button + .swiper-button {
  margin-left: 15px;
}

.swiper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.swiper .swiper-slide img {
  display: block;
  object-fit: cover;
  border-radius: 80px;
}
.swiper.trust-slider .swiper-slide {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 16px;
  min-height: 510px;
}
.swiper.trust-slider .swiper-slide .trust-card {
  background: #ffffff;
  padding: 127px 110px;
  text-align: left;
  border-radius: 80px;
}
.swiper.trust-slider .swiper-slide .trust-card .title-card {
  font-size: 25px;
  line-height: 35px;
  font-family: "Futura-PT-Medium", sans-serif;
  margin-bottom: 5px;
  color: #2C2C2C;
}
.swiper.trust-slider .swiper-slide .trust-card .card-link {
  font-size: 19px;
  line-height: 26px;
  font-family: "Futura-PT-Book", sans-serif;
  margin-bottom: 15px;
  color: #21A5B5;
  display: block;
}
.swiper.trust-slider .swiper-slide .trust-card .card-element {
  font-size: 16px;
  line-height: 22px;
  font-family: "Futura-PT-Medium", sans-serif;
  margin-bottom: 15px;
  color: #848484;
  display: block;
}
.swiper.trust-slider .swiper-slide .trust-card .trust-card-text {
  font-size: 18px;
  line-height: 25px;
  font-family: "Futura-PT-Medium", sans-serif;
  margin-bottom: 15px;
  color: #2C2C2C;
}
.swiper.trust-slider .swiper-slide .trust-card .card-link-footer {
  font-size: 18px;
  line-height: 25px;
  font-family: "Futura-PT-Book", sans-serif;
  color: #21A5B5;
  border-bottom: 1px solid #21A5B5;
  margin-right: 20px;
}
.swiper.in-trust-slider .swiper-wrapper {
  display: flex;
  flex-direction: column;
  max-height: 510px;
  max-width: 200px;
}
.swiper.in-trust-slider .swiper-slide {
  overflow: hidden;
}
.swiper.in-trust-slider .swiper-slide img {
  min-width: 150px;
  border-radius: 40px;
}
.swiper.in-trust-slider .swiper-slide-thumb-active {
  opacity: 1;
}
.swiper.in-trust-slider .swiper-scrollbar {
  width: 10px;
  background: #F0F0F0;
  opacity: 1 !important;
}
.swiper.in-trust-slider .swiper-scrollbar-drag {
  background: #CFCFCF;
  width: 4px;
  margin: auto;
  opacity: 1 !important;
}

.row-padding-10 {
  margin-left: -10px !important;
  margin-right: -10px !important;
}
.row-padding-10 > * {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.row-padding-20 {
  margin-left: -20px !important;
  margin-right: -20px !important;
}
.row-padding-20 > * {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.row-padding-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.row-padding-0 > * {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.btn-light {
  background: none;
  color: #ffffff;
  font-family: "Futura-PT-Book", sans-serif;
}

.btn-lg {
  padding: 16px 30px;
  border-radius: 15px;
  font-size: 20px;
  line-height: 20px;
}

.btn-outline-info {
  color: #21A5B5 100% #71B2B4 100%;
  font-family: "Futura-PT-Medium", sans-serif;
  border-color: #21A5B5;
}

.btn-gradient-primary {
  border: 1px solid transparent;
  background: linear-gradient(90deg, #28BFD1 0%, #85CFD1 100%);
  color: #ffffff;
}

body {
  font-family: "Futura PT", sans-serif;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: normal;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1424px;
}

.section-intro {
  margin-bottom: 80px;
}

.title {
  font-family: "Futura-PT-Medium", sans-serif;
  font-size: 44px;
  line-height: 61px;
  color: #2C2C2C;
  margin-bottom: 10px;
}

.section-item {
  position: relative;
  margin-bottom: 230px;
}
.section-item .item-header {
  margin-bottom: 57px;
}
.section-item .item-header .section-item-text {
  font-family: "Futura-PT-Book", sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #444444;
  margin-bottom: 0;
}
.section-item .item-body {
  position: relative;
  text-align: left;
  background: #F8F8F8;
}
.section-item .item-body .icon {
  position: absolute;
  top: 18px;
  right: 15px;
  font-size: 20px;
  color: #2C2C2C;
}
.section-item .item-footer .item-price {
  font-size: 20px;
  line-height: 28px;
  color: #2C2C2C;
  font-family: "Futura-PT-Demi", sans-serif;
  margin-bottom: 1px;
}
.section-item .item-footer .item-name {
  font-size: 20px;
  line-height: 28px;
  color: #2C2C2C;
  font-family: "Futura-PT-Book", sans-serif;
  margin-bottom: 5px;
}
.section-item .item-footer .item-size {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}
.section-item .item-footer .item-size li:after {
  content: "|";
  width: 1px;
  height: 7px;
  color: #E3E3E3;
  margin: 0 7px;
}
.section-item .item-footer .item-size li:last-child:after {
  display: none;
}
.section-item .item-footer .item-size .item-size-link {
  font-size: 16px;
  line-height: 22px;
  color: #2C2C2C;
  font-family: "Futura-PT-Book", sans-serif;
}

.section-trust {
  margin-bottom: 120px;
}
.section-trust .section-trust-header {
  margin-bottom: 60px;
}

.section-best {
  background: #F8F8F8;
  padding-top: 110px;
}

/*# sourceMappingURL=%D1%81ommon.css.map */
