# compiled output
/dist
/tmp
/out-tsc
/public
/assets/int/js/perri-elements.js
/assets/int/js/perri-elements-ie11.js
/resources/_gen

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*

# System Files
.DS_Store
Thumbs.db

# dependencies
/node_modules
