@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?t0cfb2');
  src:  url('fonts/icomoon.eot?t0cfb2#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?t0cfb2') format('truetype'),
    url('fonts/icomoon.woff?t0cfb2') format('woff'),
    url('fonts/icomoon.svg?t0cfb2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heat:before {
  content: "\e900";
}
.icon-bag:before {
  content: "\e901";
}
.icon-find:before {
  content: "\e902";
}
